/* .container{
    display: grid;
    grid-template-rows: auto
    height:100vh
} */

.second-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.slider{
    width:200px;
    text-align: center;
    margin: 0 auto;
}
body{
    margin:0;
    padding: 0;
}